RewriteEngine On
RewriteBase /

# Kecualikan file atau folder yang benar-benar ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect semua ke r.php
RewriteRule ^(.*)$ r.php?c=$1 [L]